<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="image-container"></div>

    

    <!-- JavaScript script -->
    <script>
        // Function to add images to a div
        async function  addImagesToDiv(fileName) {
            // Get the div element by ID
            
            const div = document.getElementById('image-container');

            const img1 = document.createElement('img');
            img1.src = `/static/number_plates/${fileName}`; // Set the source attribute to the image file path
            img1.alt = 'Image 1'; // Set the alt attribute for accessibility
            div.appendChild(img1); // Append the image to the div

            fileName1=fileName.substring(0, 10);
            console.log(fileName1)
            const response = await fetch(`/static/riders_pictures/`);
            console.log(response)
                if (!response.ok) {
                    throw new Error('Failed to fetch file names');
                }
                const fileNames = await response.json();
                
                // Compare each file name with the search string
                const matchingFileName = fileNames.find(fileName => fileName.startsWith(fileName1));



            // Create the first image element
            
            
            // Create the second image element
            const img2 = document.createElement('img');
            img2.src = `/static/riders_pictures/${matchingFileName}`; // Set the source attribute to the image file path
            img2.alt = 'Image 2'; // Set the alt attribute for accessibility
            div.appendChild(img2); // Append the image to the div
        }
        const currentUrl = window.location.href;

        // Find the index of the start of the query string
        const queryStringStartIndex = currentUrl.indexOf('?');

        // Check if there's a query string in the URL
        let imageUrl = null;
        if (queryStringStartIndex !== -1) {
            // Extract the query string
            const queryString = currentUrl.substring(queryStringStartIndex + 1);

            // Split the query string into key-value pairs
            const queryParams = queryString.split('&');

            // Loop through the key-value pairs to find the 'images' parameter
            queryParams.forEach(param => {
                const [key, value] = param.split('=');
                if (key === 'images') {
                    imageUrl = decodeURIComponent(value);
                }
            });

            // Log the extracted image URL
            console.log('Image URL:', imageUrl);
        } else {
            console.log('No query string found in the URL.');
        }
        // Call the function to add images to the div
        addImagesToDiv(imageUrl);
    </script>
</body>

</html>